<% articles.each do |article| %>
<div id="article" class="featured">
	<%= link_to article.title, { :controller => 'articles', :action => 'show', :id => article.id } %>	
	<% unless article.summary.nil? %><div class="summary"><%= article.summary %></div><% end %>
</div>	
<% end %>