<% articles.each do |article| %>
<div id="article" class="article-icon <%= default_icon %>">
	<%= link_to article.title, { :controller => 'articles', :action => 'show', :id => article.id } %>	
	<div class="summary"><%= article.summary %>&nbsp;</div>
</div>	
<% end %>