<% articles.each do |article| %>
<div id="article">
	<div class="title"><%= article.title %></div><br />
	<% unless article.summary.nil? %><div class="summary"><%= article.summary %></div><% end %>
</div>	
<% end %>