<h2>Create Category</h2>
<% labelled_tabular_form_for :article, @article, :url => { :action => "create" }, :html => { :class => nil } do |form| %>
<%= render :partial => 'form', :locals => { :f => form } %>
<%= submit_tag "Create" %>
<% end %>
