#article {
	font-family: "Courier New", Courier, monospace;	
	border: 1px solid #3A3A3A;
	padding: 4px;	
}

#article .title {
	font-size: 11pt;
	font-weight: bold;
}

#article .summary {
	font-size: 9pt;
}
