#article-summaries th { font-family: Tahoma; padding: 6px 0px; color: #669933; font-size: 15px; font-weight: bold; border-bottom: solid 1px #CCCCCC; text-align: left;  }
#article { padding: 10px 5px 20px 5px }

h3.cattitle {
	border-bottom: 1px solid #ddd;
}

.most-popular {
	background-color: #f6f6f6;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px 8px 8px 8px;
	padding: 5px 10px;
	background-color: #f6f6f6;
}
.most-popular .article-icon:nth-child(even) {
	background-color: #eee;
}

.recently-updated .article-icon {
	width: 40%;
	float: left;
}

.article-summary { font-weight: normal; font-size: 11px; color: #777777; line-height: 17px; text-decoration: none; }
.article-title { margin: 0px; padding: 6px 0px 5px 0px; color:#669933; font-size: 16px; font-weight: bold; }
.article-icon {
	background-position: 5px 10px;
	line-height: 20px;
	padding: 6px 0 6px 40px;
	min-height: 40px;
	}
.article-icon .summary {
	font-size: 80%;
	font-weight: normal;
	color: #666;
	line-height: 16px;
}

.category-articles .article-icon {
	width: 28%;
	float: left;
}

.normal { background-image: url(../images/page_white_text.png); background-repeat: no-repeat;  }
.top-rated { background-image: url(../images/page_white_star.png); background-repeat: no-repeat; }
.popular { background-image: url(../images/page_white_medal.png); background-repeat: no-repeat; }
.recently-added { background-image: url(../images/page_white_add.png); background-repeat: no-repeat; }
.recently-changed { background-image: url(../images/page_white_edit.png); background-repeat: no-repeat; }

#options { padding: 0; margin-left: -10px; }
#options li { margin: 0; padding: 0; list-style-type: none; position: relative }
#options li a { display: block; line-height: 22px; padding-left: 25px; }
#options .icon { position: relative; top: 10px; left: 12px }
#options .print { background: url(../images/icon-printer.png) left no-repeat; }
#options .pdf { background: url(../images/icon-pdf.png) left no-repeat; }
#options .word { background: url(../images/icon-word.png) left no-repeat; }
#options .bookmark { background: url(../images/icon-bookmark.png) left no-repeat; }

#category-crumbs { }
#category-crumbs a:hover { text-decoration: underline; }

.categories { background-color:#F1F5F8; border:solid 1px #D5E2F1; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin: 10px 0px; padding: 10px; }
.category-header { padding-top: 0; font-size:15px; font-weight:bold; padding-bottom: 10px; border-bottom: solid 1px #D5E2F1; }
.category-title { background-image: url(../images/category.png); background-repeat: no-repeat; padding-left:22px; }
.category-title a { font-weight:bold;}

ul.stars { display: block; margin: 0 auto; padding: 0; background-position: left top; height: 25px; width: 125px; overflow: hidden; position: relative; color: #fff; }
ul.stars,
ul.stars li.current_rating,
ul.stars li a:hover,
ul.stars li a:active { background: url(../images/star.png) left top repeat-x; float:left; }
ul.stars li { display: inline; margin: 0; padding: 0; float: none; }
ul.stars li a,
ul.stars li.current_rating { position: absolute; top: 0; left: 0; height: 25px; line-height: 25px; text-indent: -1000px; overflow:hidden; }
ul.stars li.current_rating { z-index: 1; background-position: left bottom; }
ul.stars li a:hover,
ul.stars li a:active { background-position: left center; }
ul.stars li a.one_star    { width: 20%; z-index: 6; }
ul.stars li a.two_stars   { width: 40%; z-index: 5; }
ul.stars li a.three_stars { width: 60%; z-index: 4; }
ul.stars li a.four_stars  { width: 80%; z-index: 3; }
ul.stars li a.five_stars  { width: 100%; z-index: 2; }

.rating-title { font-size:14px; font-weight:bold; color:#C60; }
.rating-title span { font-size:12px; font-weight:normal; }

.infobox { background-color: #F1F5F8; border: solid 1px #D5E2F1; padding: 5px; }

#section-title { padding:6px 0px; color:#669933; font-size:15px; font-weight:bold; padding-bottom: 10px; }
#section-title.attachments { background-image: url(../images/attachments.png); background-repeat: no-repeat; padding-left: 42px; }
#section-title.comments { background-image: url(../images/comments.png); background-repeat: no-repeat; padding-left: 42px; }

#taglist ul { font-family: "Courier"; font-size: 10px; line-height: 2em; }
#taglist li { margin-left: -40px; list-style-type: none; margin-bottom: 10px; }
#taglist a { color:#060; background-color:#E1FFD1; border:solid 1px #C5F8AC; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 3px; }
#taglist a:hover { text-decoration:underline;}

.tag-x-small { font-size:  80%; }
.tag-small   { font-size:  90%; }
.tag-medium  { font-size: 100%; }
.tag-large   { font-size: 120%; }
.tag-x-large { font-size: 150%; }

