#article-summaries th { font-family: Tahoma; padding: 6px 0px; color: #669933; font-size: 15px; font-weight: bold; border-bottom: solid 1px #CCCCCC; text-align: left;  }

.article-summary { font-weight: normal; font-size: 11px; color: #777777; line-height: 17px; text-decoration: none; }
.article-info { background-color: #F1F5F8; border: solid 1px #D5E2F1; padding: 5px; }
.article-title { margin: 0px; padding: 6px 0px 5px 0px; color:#669933; font-size: 16px; font-weight: bold; }

.article-icon { padding-left: 35px; background-position: 0px 6px; line-height: 19px; padding-bottom: 6px; }
.normal { background-image: url(../images/page_white_text.png); background-repeat: no-repeat;  }
.top-rated { background-image: url(../images/page_white_star.png); background-repeat: no-repeat; }
.popular { background-image: url(../images/page_white_medal.png); background-repeat: no-repeat; }
.recently-added { background-image: url(../images/page_white_add.png); background-repeat: no-repeat; }
.recently-changed { background-image: url(../images/page_white_edit.png); background-repeat: no-repeat; }

#article-options { padding: 0; margin-left: -10px; }
#article-options li { margin: 0; padding: 0; list-style-type: none; position: relative }
#article-options li a { display: block; line-height: 22px; padding-left: 25px; }
#article-options .icon { position: relative; top: 10px; left: 12px }
#article-options .print { background: url(../images/icon-printer.png) left no-repeat; }
#article-options .pdf { background: url(../images/icon-pdf.png) left no-repeat; }
#article-options .word { background: url(../images/icon-word.png) left no-repeat; }
#article-options .bookmark { background: url(../images/icon-bookmark.png) left no-repeat; }

#category-crumbs { background: url(../images/icon-home.png) 0px 3px no-repeat; border-bottom: dotted 1px #CCCCCC; padding-left: 20px; padding-bottom: 5px; }
#category-crumbs a:hover { text-decoration: underline; }

#categories_nav { float: left; vertical-align: top; }
#categories_nav ul { margin: 0; padding: 0; list-style: none; }
#categories_nav li { border-bottom: 1px solid #ced3d5; width: 100%; }
#categories_nav li a:link, #categories_nav li a:visited { line-height: 27px; display: block; color: #1a6ab3; }
#categories_nav li a:hover { text-decoration: none; background-image: none; color: #FF6600; }

.categories { background-color:#F1F5F8; border:solid 1px #D5E2F1; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin: 10px 0px; padding: 10px; }
.category-header { padding-top: 0; font-size:15px; font-weight:bold; padding-bottom: 10px; border-bottom: solid 1px #D5E2F1; }
.category-title { background-image: url(../images/category.png); background-repeat: no-repeat; padding-left:22px; }
.category-title a { font-weight:bold;}

ul.stars { display: block; margin: 0 auto; padding: 0; background-position: left top; height: 25px; width: 125px; overflow: hidden; position: relative; color: #fff; }
ul.stars,
ul.stars li.current_rating,
ul.stars li a:hover,
ul.stars li a:active { background: url(../images/star.png) left top repeat-x; float:left; }
ul.stars li { display: inline; margin: 0; padding: 0; float: none; }
ul.stars li a,
ul.stars li.current_rating { position: absolute; top: 0; left: 0; height: 25px; line-height: 25px; text-indent: -1000px; overflow:hidden; }
ul.stars li.current_rating { z-index: 1; background-position: left bottom; }
ul.stars li a:hover,
ul.stars li a:active { background-position: left center; }
ul.stars li a.one_star    { width: 20%; z-index: 6; }
ul.stars li a.two_stars   { width: 40%; z-index: 5; }
ul.stars li a.three_stars { width: 60%; z-index: 4; }
ul.stars li a.four_stars  { width: 80%; z-index: 3; }
ul.stars li a.five_stars  { width: 100%; z-index: 2; }

.rating-title { font-size:14px; font-weight:bold; color:#C60; }
.rating-title span { font-size:12px; font-weight:normal; }

#section-title { padding:6px 0px; color:#669933; font-size:15px; font-weight:bold; border-bottom:solid 1px #CCCCCC; padding-bottom: 10px; }
#section-title.attachments { background-image: url(../images/attachments.png); background-repeat: no-repeat; padding-left: 42px; }
#section-title.comments { background-image: url(../images/comments.png); background-repeat: no-repeat; padding-left: 42px; }

#taglist ul { font-family: "Courier"; font-size: 10px; line-height: 2em; }
#taglist li { margin-left: -40px; list-style-type: none; margin-bottom: 10px; }
#taglist a { color:#060; background-color:#E1FFD1; border:solid 1px #C5F8AC; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 3px; }
#taglist a:hover { text-decoration:underline;}