<h2>Edit Category</h2>
<% labelled_tabular_form_for :category, @category, :url => { :action => 'update' }, :html => { :class => nil } do |form| %>
<%= hidden_field_tag 'id', @category.id %>
<%= render :partial => 'form', :locals => { :f => form } %>
<%= submit_tag "Update" %>
<% end %>
