<h2>Category</h2>
<% labelled_tabular_form_for :category, @category, :url => { :action => "create" }, :html => { :class => nil } do |f| %>
<%= error_messages_for 'category' %>
<div class="box tabular">
<p><%= f.text_field :title %></p>
<p><%= f.text_area :description %></p>
<%= submit_tag "Create" %>
<% end %>
</div>