<div class="contextual">
	<%= link_to "Edit", { :controller => 'categories', :action => 'edit', :id => @category.id }, :class => 'icon icon-edit' %>    
</div>
<h2><%= @category.title %></h2>
<p><em><%= @category.description unless @category.description.nil? %></em></p>
<p><%= link_to "New Article", :controller => 'articles', :action => 'new', :category_id => @category.id %></p>